.container{
    width: 50rem;
    margin: 35px auto;
}

.mainRow h2{
    text-align: center;
    margin: 1.2rem;
}

.row{
    border-bottom: 1px solid black;
    margin: 2px;
    padding: 5px;
}
.btn{
    border: none;
    border-radius: 4px;
    background-color: purple;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 8px;
    width: 8rem;
}