.navmain{
    width: 100vw;
}

.navbar a {
    text-decoration: none;
    color: rgb(204, 202, 202);
}
.navbar a:hover,
.navbar a:active,
.navbar a.active{
    color: purple;
    /* text-decoration: underline; */
}